
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  input{
    height: 30px;
  }
  button{
    height: 30px;
    width: 40px;
    color: brown;
    background-color: rgb(137, 236, 178);
  }
  table{
    display: none;
    border-collapse: collapse;
    width: 100%;
  }
  th,td{
    border:3px solid black;
    text-align: center;
    background-color: antiquewhite;
    padding: 20px;
   
  }
  .main{
    display: block;
    margin: 10%;

  }
  
